spring:
  datasource:
    url: jdbc:h2:mem:todo-db
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN

management:
  server:
    port: ${MANAGEMENT_PORT:8080}

  endpoints:
    web:
      exposure:
        include: health,info,metrics

  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

info:
  app:
    name: Todo Application
    description: Spring Boot Todo app running in Kubernetes
    version: 1.0.0
